.sliderOP {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	background-color: #fff;

	.titleOP {
		padding: 2.5% 0;
	}
	.titleOP h3 {
		padding-bottom: 1%;
	}

	.containerSlider {
		width: 900px;
		height: 580px;
		margin: 0 auto;
	}
}
