/* Главная часть с изображением */
.containerForImg {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: visible;
	background-color: #fff;
}

.imgBack {
	background-image: url('../image/static/main-1.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 85%;
	border-radius: 0 0 100px 100px;
	position: relative;
}

.containerContent {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 1rem;
}

.containerTitle {
	color: #fff;
	font-size: 2rem;
	padding-top: 3rem;
}

.containerDesc {
	color: #fff;
	font-size: 1.5rem;
	padding-top: 1rem;
}

button a {
	text-decoration: none;
	color: #fff;
}

/* Секция с карточками товаров и всего такого */
.sectionCard {
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 190px;
	gap: 0.1px;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
	.containerTitle {
		font-size: 1.5rem;
	}

	.containerDesc {
		font-size: 1rem;
	}

	.sectionCard {
		flex-direction: column;
	}
}
