.sectionService {
	display: flex;
	justify-content: center;

	.titleS {
		text-align: center;
		padding: 40px 0 10px;
	}

	.containerCard {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.card {
		padding: 0 5%;
		margin-bottom: 3%;
		display: flex;
	}
}
