.sectionService {
	display: flex;
	justify-content: center;
	padding: 3% 1% 5%;

	.titleS {
		text-align: center;
		padding: 40px 0 10px;

		h1 {
			font-size: 32px;
			padding-bottom: 2%;
		}
	}

	.containerCard {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.card {
		padding: 0 5%;
		margin-bottom: 3%;
		display: flex;
		justify-content: space-between;
	}
}
