.slider {
	height: 100%;
	position: relative;

	.slide {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background-position: center;
		background-size: cover;
		transition: opacity 0.9s ease-in-out;
		opacity: 0;
	}

	.slide.active {
		opacity: 1;
	}

	.leftArrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		left: 32px;
		font-size: 45px;
		color: #fff;
		z-index: 1;
		cursor: pointer;
	}

	.rightArrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		right: 32px;
		font-size: 45px;
		color: #fff;
		z-index: 1;
		cursor: pointer;
	}

	.containerDots {
		display: flex;
		justify-content: center;
		position: absolute; 
		bottom: 20px; 
		left: 50%;
		transform: translateX(-50%);
		z-index: 2; 
	}

	.dot {
		margin: 0 3px; 
		cursor: pointer;
		font-size: 28px;
		color: #ffffff; 
		transition: color 0.3s; 
	}

	.dot.active {
		color: #717171; 
	}
}
